@model List<ProjetoWeb.Models.Compra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compra</h2>

@if (@Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Customer</th></tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr><td>@Html.ActionLink(@customer.NumeroProduto + " " , "Details", new { customer.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}
